<footer>
	<ul id="business">
		<li><a href="#">About</a></li>
		<li><a href="#">Blog</a></li>
		<li><a href="#">Careers</a></li>
		<li><a href="#">Contact</a></li>
		<li><a href="#">Privacy Policy</a></li>
		<li><a href="#">Terms of Service</a></li>
	</ul>
	<ul id="social">
		<li><a href="#"><i class="fab fa-youtube"></i></a></li>
		<li><a href="#"><i class="fab fa-twitter"></i></a></li>
		<li><a href="#"><i class="fab fa-instagram"></i></a></li>
		<li><a href="#"><i class="fab fa-facebook"></i></a></li>
	</ul>
	<p>Website &copy; Jeremy Baumann      |      Videos from <a href="https://www.youtube.com/user/sxephil">Philip DeFranco</a> and <a href="https://www.youtube.com/user/PhilipDeFranco">PhillyD</a> YouTube channels</p>
</footer>