<a href="/shows/news"><button id="all" class="show-option">All</button></a><!--
--><a href="/shows/PDS"><button id="pds" class="show-option">The Philip DeFranco Show</button></a><!--
--><a href="/shows/morning-breakdown"><button id="morning-breakdown" class="show-option">Morning Breakdown</button></a><!--
--><a href="/shows/feel-good-friday"><button id="feel-good-friday" class="show-option">Feel Good Friday</button></a>