<a href="/shows/other"><button id="all" class="show-option"">All</button></a><!--
--><a href="/shows/rogue-rocket-podcast"><button id="rr-podcast" class="show-option"">Rogue Rocket Podcast</button></a><!--
--><a href="/shows/behind-the-scenes"><button id="bts" class="show-option">Behind the Scenes Vlog</button></a><!--
--><a href="/shows/podcast-clips"><button id="podcast-clips" class="show-option">Podcast Clips</button></a>