<!DOCTYPE html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="/img/fav-icon3.png" />
    {{#if title}}
	   <title>{{title}}</title>
    {{else}}
        <title>Rogue Rocket</title>
    {{/if}}

	<!-- <script type="text/javascript" src="/js/PDS10112018-scripts.js"></script>
    <script type="text/javascript" src="/js/carousel.js"></script>
    <script type="text/javascript" src="/js/info.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="../modules/helper-mods.js"></script> -->
    <!-- <script type="text/javascript" src="/js/PDSmods.js"></script> -->
    <!-- <script type="text/javascript" src="/js/read-more-helpers.js"></script> -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/grid-layout.css">
    <link rel="stylesheet" type="text/css" href="/css/pds-10112018-styles.css"> -->

    <!-- UNIVERSAL -->
    <!-- NAV BAR & FOOTER  -->
    <link rel="stylesheet" type="text/css" href="/css/navbar-styles.css">


    <!-- HOME PAGE -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/index-styles.css"> -->
    <!-- javascript for episode carousel -->

    <!-- EPISODE WATCH PAGE -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/episode-styles.css"> -->
    <!-- javascript for episode carousel -->

    <!-- PDS EPISODE WATCH PAGE -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/grid-layout.css">
    <link rel="stylesheet" type="text/css" href="/css/pds-10112018-styles.css"> -->
    <!-- <script type="text/javascript" src="/js/PDS10112018-scripts.js"></script>
    <script type="text/javascript" src="/js/carousel.js"></script>
    <script type="text/javascript" src="/js/info.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/PDSmods.js"></script> -->
    <!-- <script type="text/javascript" src="/js/read-more-helpers.js"></script> -->

    {{{_sections.head}}}

</head>
<body>
    {{{body}}}
</body>
</html>