* {
	margin: 0;
	padding: 0;
}
/*
#top-bar {
	height: 50px;
	width: 100vw;
	background: rgb(86,26,26);  /*dark red*/ /*
}

*/

#homepage {
	display: grid;
	position: static;
	height: 100%;
	/*width: calc(100vw - 200px);*/
	grid-template-rows: auto;
	grid-row-gap: 30px;
	overflow: hidden;
	background: rgb(168,52,52);  /*red*/ 
	padding: 10px 90px;
	padding-top: 50px;
}

#featured-video {
	grid-row: 1;
	width: 100%;
	height: 100%;
}

#featured-other {
	grid-row: 1;
}

#most-recent-pds {
	grid-row: 2;
}

#most-recent-other {
	grid-row: 3;
}

#featured-shop {
	grid-row: 4;
}

#featured-video h1,
#featured-other h1 {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

#featured-video img {
	display: block;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	box-shadow: 0px 0px 20px black;
}

#thumbnail {
	width: 70%;
}

.featured-title {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	color: black;
	font-size: 1.2em;
	text-align: center;
	font-weight: bold;
}

#featured-video p {
	text-align: center;
}

#featured-series {
	color: black;
	text-decoration: none;
}

#featured-other {

}

#most-recent-pds {
	/*margin-top: 30px;*/
}

.most-recent {
	margin-left: 1em;
	margin-top: 2em;
	margin-bottom: 1em;
	overflow-x: hidden;
	position: relative;
	max-width: 100%;
}

.most-recent h2 {
	margin-bottom: .5em;
}

.most-recent a {
	text-decoration: none;
	color: black;
}

.episode-carousel {
	/*min-height: 100%;*/
}


.all-episodes {
	width:600em;
	list-style-type:none;
	margin-left: 50px;
}

.episode {
	max-width: 360px;
	min-width: 150px;
	width: 300px;
	height: 100%;
	display: inline-block;
	margin-right: .5em;
	vertical-align: top;
}

.episode img {
	margin-bottom: 10px;
	max-width: 360px;
	max-height: 200px;
	width: 100%;
}

.episode img,
.product img {
	margin-top: 10px;
	box-shadow: 0px 0px 10px black;
}

.title {
	font-weight: bold;
	margin-bottom: 8px;
	display: block;
}

.series {
	display: block;
}

.car-control {
	display: inline-block;
	position: absolute;
	margin: 0;
	font-size: 30px;
	z-index: 2;
	width: 44px;
	background:  rgb(168,52,52);  /*red*/ 
    color: white;
    font-weight: bold;
    transition: 0.6s ease;
    border-style: none;
    outline: none;
    /*box-shadow: 0px -8px 0px 0px rgb(168,52,52); */ /*red*/ 
}

.car-control:hover {
	cursor: pointer;
	font-size: 40px;
	background-color: rgba(86, 86, 86, 1);  /*dark gray*/
}

.fa-chevron-circle-left,
.fa-chevron-circle-right {
	color: rgb(195,194,194);  /*gray*/
	opacity: 1;
}

#shiftL {

}

#shiftRPDS,
#shiftROther,
#shiftRShop {
	right: 0;
}

.product {
	max-width: 200px;
	min-width: 150px;
	width: 180px;
	height: 100%;
	display: inline-block;
	margin-right: 1em;
	vertical-align: top;
}

.product img {
	margin-bottom: 10px;
	max-height: 360px;
	max-width: 200px;
	min-height: 240px;
	width: 100%;
}