#login-signup-wrapper {
	background: rgb(168,52,52);  /*red*/
	padding: 100px 20%;
}

#user-form-wrapper {
	width: 60%;
	margin: 0 auto;
}

h1 {
	margin-bottom: 30px;
}

.form-group {
	margin-bottom: 12px;
}

.form-group label {
	display: block;
	margin-bottom: 4px;
	font-size: 18px;
}

.form-group input {
	padding: 2%;
	width: 94%;
}

.user-form button {
	font-size: 18px;
	padding: 4px 6px;
	margin-top: 10px;
}

.error-msg {
	border: solid black 2px;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	background-color: rgba(86,26,26, .3);  /*dark red - low opacity*/
}

.error-msg p {
	color: white;
}